<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method ="POST" action="/update">

  Id:      <input type="text" name="id" value='<%= row.dataValues.id %>'><br>
 Name:     <input type="text" name="name" value='<%= row.dataValues.name %>'><br>
 Material: <input type="text" name="material" value='<%= row.dataValues.material %>'><br>
 Height:   <input type="text" name="height" value='<%= row.dataValues.height %>'><br>
 Brim:     <input type="text" name="brim" value='<%= row.dataValues.brim %>'><br>

        <button id = 'btn-add'>update</button>

    </form>


</body>
</html>