<!DOCTYPE html>
<html lang="en"> <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    
    <title>Hats</title>
    <style>
         body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}

        fieldset {
              background: #fafafa;
              text-transform: uppercase;
              margin: 22px 334px;
              box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
              padding: 25px 115px;
                  }
                  div{
                      display: inherit;
                  }
              
            </style>
</head>
<body>
        <a href="./add-hat.html">

            <button class="delete-btn w3-button w3-black w3-center w3-section"> <i class="btn-add fa fa-ban"></i> Add  </button>
        </a>

        <h1 class="w3-center">Hats proj</h1><hr>

     



        <% for (let i in rows) { %>
        <div>
            <fieldset>
                <label> Id: </label>    <%= rows[i].dataValues.id %>  <br><hr>

                <label> Name: </label>     <%= rows[i].dataValues.name %> <br><hr>
                    
                <label> Material: </label>    <%= rows[i].dataValues.material %>  <br><hr>
                
                <label> Height: </label>   <%= rows[i].dataValues.height %>
                
                <label> Brim: </label>  <%= rows[i].dataValues.brim %>  <br><hr>

        
            
            <form method="POST" action="/edit/<%= rows[i].dataValues.id %>">
                <button class="btn-add">Edit</button></form>

                
                <form method="POST" action="/delete/<%= rows[i].dataValues.id %>">
                    <button class="btn-add">Delete</button>
                </form>
            
        </div>
    </fieldset>
      <% } %> 
</body>
</html>