<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
            body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
          
          body, html {
              height: 100%;
              color: #777;
              line-height: 1.8;
          }
          .w3-dropdown-hover:first-child{
              background-color: #ffffff
          }
          /* #page-wrap {
          width: 980px;
          text-align: center;
          margin: 0 auto;
          } */
          div#column.row {
            width: 250px;
            height: 250px;
            margin: 34px 19px;
            padding: 4px; 
          }
          img {
             width: 250px;
             height: 250px; 
             padding:4px;
             border-radius: 15px;
             border:1px solid #ccc;
          }
          img:hover {
                      opacity: 0.5; filter: alpha(opacity=50);
                    }

           #column {
              float: left;
              width: 33.33%;
              padding: 10px;  
          } 
          
          /* Clearfix (clear floats) */
          .row::after {
              content: "";
              clear: both;
              display: table;
          }
          span{color:red}

          </style>
    <title>livegram</title>
   
</head>

<body>
 <h1 class="w3-center">l<span>i</span>vegram</h1><hr>

        <div id="page-wrap">
        <% for (let i in rows) {%>
            <div class="row" id="column">

    <!-- <img class="w3-animate-zoom" src="thumbnails/<%= rows[i].dataValues.image %>" ><br> -->
<div class="w3-dropdown-hover">
    <img
        src="thumbnails/<%= rows[i].dataValues.image %>"
        alt="Norway"
        style="width:250px">

        <div class="w3-dropdown-content" style="width:500px">
            <img
                src="thumbnails/<%= rows[i].dataValues.image %>"
                alt="Norway"
                style="width:100%"></div></div><br>
        

     <div class="row-name"> <%= rows[i].dataValues.username %> :</div>

      <div  class="row-title"> <%= rows[i].dataValues.comment %> </div>

 </div>
 </div>
        <% } %>
</body>
</html>