<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <title>students page</title>
</head>
<body>
    <div class="container">
    <h1>List of Students</h1>
    <a href="add-students.html"><button class="btn-add">Add student</button></a>
    <form class="students" action="/" method="POST">
        
        <table>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>Email</th>
                <th colspan="2">Action</th>
            </tr>
            
            <% for (let i in result.rows) {%>
            <tr>
                <td><%= result.rows[i].id    %></td>
                <td><%= result.rows[i].name  %></td>
                <td><%= result.rows[i].email %></td>
              
                <td>
            <form method='GET' action='/edit/student/<%= result.rows[i].id %>'> 
                <td><button class="btn-edit"> edit </button></td>
            </form>

            
            <form method='POST' action='/delete/student/<%= result.rows[i].id %>'> 
                <td><button class="btn-delete"> delete </button></td>
            </form>
            
            </td>
            </tr>
            <% } %>
        </table>
    </form>
    </div>
</body>
</html>