<!DOCTYPE html>
<html>
<head>
	<title>Profile Page</title>
</head>
<body>
	<h1><u>Profile Page</u></h1>

    <strong>FristName: </strong> <%= user.firstname %><br>

    <strong>LastName: </strong> <%= user.lastname %><br>

	<strong>Username:</strong> <%= user.username %><br>
	<strong>ID: </strong> <%= user.id %><br>
    <strong>Password: </strong> <%= user.password %><br>
    <strong>Cell: </strong> <%= user.cell %><br>
    <strong>Email: </strong> <%= user.email %><br>

	<br>
	<br>
	<a href="/logout"><button>Logout</button></a>

</body>
</html>