
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <label>Id:</label> <%= user.id %><br/>
        <label>username:</label> <%= user.username %><br/>
        <label>name:</label> <%= user.displayName %><br/>
        <label>cell:</label> <%= user.cell %><br/>
        <% if (user.emails) { %>
        <label>Email:</label> <%= user.emails[0].value %><br/>
      <% } %>
  

        <a href="/logout">Log out</a>
       


    
</body>
</html>

